{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% load bootstrap4%}
<div class="container">
    <div class="row">
        {% for new in index_path %}

        <div class="col-md-4 main-page d-flex" style=" margin-top: 5px;">
            <div class="card card-cascade wider flex-fill ">

                <!-- Card image -->
                <div class="view view-cascade overlay">
                <img class="card-img-top"
                            src="{{new.view.url}}" alt="{{image.title}}">
                </div>
                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">{{new.name}}</h4>
                    <!--Text-->
                    <p class="card-text">{{new.description}}</p>
                    <p><a href="{{new.link}}">View Site</a></p>                    
                    <p><a href="single/{{new.id}}">See project</a></p>

                </div>
            </div>
        </div>

        {% empty %}
        <div class="row">
            <h1 class="text-center"> No Images Yet</h1>
        </div>
        {% endfor %}
        <div class="review-section">
            {% for review in reviews %}
            {% if project.id == review.project.id %}
 
            <p><strong>{{review.juror}}</strong> {{review.comment}} [usability: {{review.usability}}, content: {{review.content}} , design: {{review.design}}]</p>
            <p>{{ project.average_score | floatformat }}</p>
            {% endif %}
 
            {%endfor%}
 
 
            {{form.media}}
            <hr>
            <form action="" method="post" enctype="multipart/form-data" id="sema">
              {%csrf_token%}
              <table>
            {%bootstrap_form form%}
              </table>
             
 
            </form>
 
            {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
            {% bootstrap_javascript %}
            {% endblock %}
          </div>
 


    </div>
</div>
</div>

{% endblock %}